Source: lingmo-settings-daemon
Section: admin
Priority: optional
Maintainer: Lingmo OS Team <team@lingmo.org>
Build-Depends:
  debhelper (>= 11),
  debhelper-compat (= 11),
  cargo,
  libclang-dev,
  libudev-dev,
  libinput-dev,
  libpipewire-0.3-dev,
  libspa-0.2-dev,
  libssl-dev,
  libxkbcommon-dev,
  pkg-config,
Standards-Version: 4.3.0
Homepage: https://github.com/Matrinsoft/lingmo-settings-daemon

Package: lingmo-settings-daemon
Architecture: amd64 arm64
Depends:
  acpid,
  lingmo-sound-theme,
  pulseaudio-utils,
  ${misc:Depends},
  ${shlibs:Depends}
Recommends:
  breeze-icon-theme,
  playerctl,
  qt5ct,
  qt6ct,
Description: Cosmic settings daemon
